* , * :after, * :before{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    }


    .headerForgetPassword{
        background: rgb(0, 0, 0);
        color: white;
        justify-content: center;
        font-family: sans-serif;
        align-items: center;
        height: 100px;
        display: flex;
        flex-flow: row;
    }

    #center{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    #center{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .formulaireForgetPassword{
        margin-top: 100px;
        border-style: solid;
        border-color: tomato;
        justify-content: center;
        align-items: center;
        width: 265px;
        height: 250px;
        font-family: sans-serif;
    }
    
    #nameEmail{
        margin-left: 30px;
        width: 200px;

    }

    #motEmail{
        margin-left: 30px;
        margin-top: 20px;
    }

    #forgetPasswordMail{
        margin-left: 30px;
        margin-bottom: 20px;
        width: 210px;
        height: 30px;
    }

    #emailButton{
        width: 210px;
        margin-left: 30px;
        margin-top: 20px;
        height: 30px;

    }

    #lien2{
        width: 210px;
        margin-left: 30px;
        margin-top: 20px;
    }